<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- the styles -->
    <link href="/assets/css/xvid.css" rel="stylesheet">
    <link href="/assets/css/mediabox/mediabox.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <script src="/js/json2.js"></script>
    <![endif]-->
    <title>Mediabox</title>
</head>
<body>

<div class="page">

<nav id="mainnav">
    <div class="container">
        <h1 class="xvidMediaBox_25px h1logo">Xvid MediaBox</h1>

        <ul class="nav nav-pills" id="file-topmenu" style="display: none;">
            {% for section in navigation %}
                <li {% if section.active %} class="active" {% endif %} ><a href="../{{section.name}}/">{{ section.text }}</a></li>
            {% endfor %}

            <li class="dropdown fs-actions">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                    Actions
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li class="copy">
                        <a href="#"><i class="icon-copy"></i> Copy</a>
                    </li>
                    <li class="past">
                        <a href="#"><i class="icon-clipboard-paste"></i> Past</a>
                    </li>
                    <li class="delete">
                        <a href="#"><i class="icon-deletefile"></i> Delete</a>
                    </li>
                </ul>
            </li>

            <li id="newDirWin">
                <a href="#"><i class="icon-createfolder"></i> New Folder</a>
            </li>
            <li class="slideshow">
                <a href="#"><i class="icon-fullscreen"></i> Slideshow</a>
            </li>


            <li class="nav pull-right">
                <ul class="files-adv-actions nav nav-pills">

                    <li class="advanced-panel-show upload upload-empty">
                        <a href="#"><i class="icon-uploadalt"></i> Upload</a>
                    </li>
                    <li class="dropdown upload-isset" style="display: none;">
                        <a class="dropdown-toggle upload-dropdown-show" role="button" data-toggle="dropdown" href="#">
                            <i class="icon-uploadalt"></i> Upload
                            [<span class="uploadCount">0</span>]
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <div>
                                    <a class="k-button k-upload-button advanced-panel-show upload">Show upload</a>
                                </div>
                                <div class="upload-dropdown">
                                    <div class="percDropdown"></div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="advanced-panel-show buffer">
                        <a href="#"><i class="icon-clipboard-paste"></i> Buffer [<span class="bufferCount">0</span>]</a>
                    </li>

                </ul>
            </li>
        </ul>

        <ul class="nav nav-pills" id="trash-topmenu" style="display: none;">
            <li id="trash-restore-all">
                <a href="#"><i class="icon-restore"></i> Restore All</a>
            </li>
            <li id="trash-remove-all">
                <a href="#"><i class="icon-remove"></i> Delete All</a>
            </li>
        </ul>

    </div>
</nav>





{% if App.user.id %}
<section class="container">
    {% include "/views/site/advanced.html" %}

    <div id="splitter" class="row">
        <div class="span3" id="left-vertical">
            {% include "/views/site/left.html" %}
        </div>

        <div class="span9" id="vertical">
            <div id="fs-container">
                <div id="fs" class="fs-container-div">
                    {% include "/views/site/files.html" %}
                </div>
            </div>
        </div>


    </div>

    {% include "/views/site/image-preview.html" %}
    {% include "/views/site/video-preview.html" %}
</section>

{% else %}


    <div class="form">
        <form method="post" action="/site/login/">

        <p class="note">Fields with <span class="required">*</span> are required.</p>

        <div class="row">
            <input type="text" name="LoginForm[username]" />
        </div>

        <div class="row">
            <input type="text" name="LoginForm[password]" />
        </div>

        <div class="row buttons">
            <input type="submit" name="submit" value="Login">
        </div>

        </form>
    </div>



{% endif %}



<input type="hidden" id="start_dir" value="{{ App.session.startdir }}" />
<input type="hidden" id="storage" value="{{ App.params.config.storage }}" />
<input type="hidden" id="volume-level" value="{{ App.session.volume_level }}" />
<input type="hidden" id="buffer_count" value="" />
{#
    {% if App.session.playlist is defined %}
    <input type="hidden" id="current-playlist" value="{{ App.session.playlist }}" />
    {% endif %}
#}

<input type="hidden" id="mediabox-check-type-other" value="{{ App.session.check_type_other }}" />
<input type="hidden" id="mediabox-check-type-image" value="{{ App.session.check_type_image }}" />
<input type="hidden" id="mediabox-check-type-video" value="{{ App.session.check_type_video }}" />
<input type="hidden" id="mediabox-check-type-music" value="{{ App.session.check_type_music }}" />

<input type="hidden" id="mediabox-view" value="{{ App.session.view }}" />
<input type="hidden" id="mediabox-sort" value="{{ App.session.sort }}" />

<input type="hidden" id="x1" />
<input type="hidden" id="x2" />
<input type="hidden" id="y1" />
<input type="hidden" id="y2" />



    <script data-main="/assets/js/common" data-slug="mediabox-index" src="/js/require.js"></script>

</body>
</html>